.detailContainer {
    overflow: hidden;
    flex-direction: column;
    height: 70%;
    width: 70%; 
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width: 500px;
    display:flex;
    position:relative;
    top:80px;
    } 

.nameContainer{
    display:flex;
    flex-direction: column;
    height: 10%;
    width: 500px;
    background-color: #dddf66; 
    overflow: hidden;
    border-radius: 20px;
    border-style:groove;
    justify-content: center;
}

.imagenyData{
    display:flex;
    flex-direction: row;
    height: 100%;
    background-color: #86bace50; 
    justify-content:flex-end;
    align-items: center; 
    border-radius: 20px;  
    width: 500px; 
    border-style:groove;
}
.imagenDetail{
    left:2px;
    width: 50%;
    align-self: center;
    margin-right: 20px;
}

.imagenDetail img {
    width: 100%;
}
.data{
/* background-color: aqua; */
width: 50%;
height: 100%;
display:flex;
flex-direction: column;
justify-content: center;
}
.data p{
    font-size:20px;
    display: flex;
    justify-content:center;
    font-family: pokemon-solid;
    background-color: rgba(128, 128, 128, 0.171);
    width: auto;
    border-radius: 10px;

    }

.button{
    background:#dddf66;
    padding: 10px;
    border:none;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    align-items: center;
    justify-content:center;
    cursor:pointer;
    margin:10px;
    }


