*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family:'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://i.redd.it/c5jb4d6mn0ky.png");
  background-repeat:no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
