.containerForm {
    height: 600px;
    width: 500px;
    margin: 0 auto;
    margin-top: 4px;
    background-color: rgba(255, 255, 255, 0.281);
    backdrop-filter: blur(5px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 25px;
}

.divForm{
    height: 100%;
    width: 100%;   
   } 

.form{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    }

.buttonForm{
    padding: 10px;
    width: 250px;
    margin-top: 10px;
    background-color: #dddf66;
    font-size: 25px;
    align-self: center;
    cursor:pointer;
}



.divLabels{
    width: 100%;
    height: 55px;
    display:flex;
    align-items: center;
    flex-direction: column;
    
}

.inputBox{
    width: 100%;
    height: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

#nameContainer{
    width: 100%;
    position: relative;
    height: 85px;
    display:flex;
    align-items: center;
}


.labels{
    height: 100%;
    width: auto;
    display:flex;
    align-items: center;
    font-size: 20px;
}



.inputs{
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
    width: 300px;
    padding-left: 15px;
}

.tipos{
    width: 300px;
    border-radius: 4px;
}

.titulo{
    font-size: 30px;
    font-family: "pokemon-solid";
    padding: 20px;
    background-color:  #dddf66;
    margin-top: 1px;
    border-top: 4px solid rgb(68, 12, 12);
    border-bottom: 4px solid rgb(68, 12, 12);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.errors{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom:-15px;
    right:131px;
    width: 190px;
    z-index: 100;
    color:red;
    
}

#tipoPadre{
    height: 150px;
    display:flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

#tipoContainer{
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;

}
#tipoContainer label {
    height: auto;
}

#errorAtaque{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom:412px;
    right:175px;
    margin-left: 5px;
    z-index: 100;
    color:red;
}

#errorVida{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    position: absolute;
    bottom:460px;
    right:175px;
    margin-left: 5px;
    z-index: 100;
    color:red;
}

#campos{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:red;
    font-size: larger;
    background-color: #dddf66;
    border-radius: 10px;
}